html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  overflow-x: hidden;
  /* overflow-y: auto; */
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  max-width: 1980px;
}

.main {
  margin: 20px;
}

.black-theme {
  width: 100%;
  height: 100%;
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}

.white-theme {
  width: 100%;
  height: 100%;
  background: white;
}

.columns {
  display: flex;
}
.col {
  flex: 1;
}
